#submit,
#reset {
    margin-left: 3px;
    margin-right: 7px;
    width: 75px;
}

input,
textarea {
    width: auto;
}

#gender {
    margin-left: 3px;
}

#last-name {
    margin-left: 2px;
}

#address {
    margin-left: 8px;
}

#pincode {
    margin-left: 8px;
}

#state {
    margin-left: 18px;
}

#country {
    margin-left: 15px;
}

table th,
td,
tr {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

table {
    margin: 0 auto;
    border-left: 50px;
    width: 80%;
    margin: 0;
}

#table {

    align-items: "center";
    border: 1px solid black;
    border-collapse: collapse;
    margin: .5rem;
    width: 50%;

}

.form-control {
    margin: 20px 0 20px;
}